<!DOCTYPE html>
<html>
    <head>
        <title>Texas Sample app - <%= version %></title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <img src="images/nhs-logo.png" alt="NHS logo" width="293" height="118">
        <h1>Texas Sample app</h1>
        <p>Welcome to the Texas Sample app</p>
        <h2>Version: <%= version %></h2>
    </body>
</html>
