name: Deploy Terraform Stack
description: Deploy a Terraform Stack
inputs:
  stack:
    required: true
    description: The stack being deployed
  tier:
    required: true
    description: The tier being deployed
  action:
    required: true
    description: The action to run (plan/apply)
  environment:
    required: true
    description: The environment being deployed to
  region:
    required: false
    default: eu-west-2
    description: The AWS region being deployed to

runs:
  using: composite
  steps:
    - name: Terraform ${{ inputs.action }}
      id: terraform
      shell: bash
      working-directory: .github/scripts
      run: |
        ./terraform.sh ${STACK} ${ENVIRONMENT} ${AWS_REGION} ${ACTION}
      env:
        STACK: ${{ inputs.stack }}
        ACTION: ${{ inputs.action }}
        ENVIRONMENT: ${{ inputs.environment }}
        AWS_REGION: ${{ inputs.region }}

    # - name: Save failure info
    #   if: failure()
    #   shell: bash
    #   run: |
    #     mkdir -p failure
    #     echo "**${{ inputs.account_name }}:** ${{ inputs.stack }} failed to plan âŒ" > failure/info.txt

    # - name: Upload failure artifact
    #   if: failure()
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: failed-plan-${{ inputs.stack }}-${{ inputs.account_name }}
    #     path: failure/info.txt
    #     retention-days: 1

